# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [2]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [3]:
cities_filepath = os.path.join("output_data", "cities.csv")

city_data_df = pd.read_csv(cities_filepath)

city_data_df.head()

,City ID,City,Cloudiness,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,0,cherskiy,100,1631901081,84,68.7500,161.3000,39.09,2.77
1,1,tiznit,0,1631901081,71,29.5833,-9.5000,69.24,7.61
2,2,datong,93,1631901082,74,40.0936,113.2914,62.08,4.18
3,3,abu dhabi,0,1631900827,59,24.4667,54.3667,95.11,5.75
4,4,rikitea,100,1631901082,75,-23.1203,-134.9692,68.65,3.74

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [10]:
gmaps.configure(api_key = g_key)

locations = city_data_df[['Lat', 'Lng']].astype(float)

weights = city_data_df['Humidity'].astype(float)

fig = gmaps.figure()

heat_layer = gmaps.heatmap_layer(locations, weights=weights, dissipating=False, max_intensity=100, point_radius=1)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [32]:
hotel_df = city_data_df[(city_data_df['Max Temp'] <= 80) & (city_data_df['Max Temp'] > 70) & (city_data_df['Cloudiness']<=25) & (city_data_df['Wind Speed']<=5) & (city_data_df['Humidity'] <=50)]
hotel_df

,City ID,City,Cloudiness,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
250,250,viransehir,0,1631901210,31,37.2353,39.7631,76.89,3.20
292,292,soma,2,1631901229,41,39.1855,27.6094,72.75,1.77
305,305,shasta lake,8,1631901234,33,40.6804,-122.3708,77.94,4.07
341,341,fethiye,0,1631901248,37,36.6217,29.1164,78.67,3.27
360,360,korla,1,1631901255,27,41.7597,86.1469,72.19,2.64
453,453,semnan,0,1631901291,13,35.5729,53.3971,79.88,4.90
536,536,birjand,0,1631901325,7,32.8663,59.2211,79.27,4.61

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [36]:
hotel_df['Hotel Name'] = np.nan
hotel_df

/Users/jaketrevithick/opt/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,City ID,City,Cloudiness,Date,Humidity,Lat,Lng,Max Temp,Wind Speed,Hotel Name
250,250,viransehir,0,1631901210,31,37.2353,39.7631,76.89,3.20,NaN
292,292,soma,2,1631901229,41,39.1855,27.6094,72.75,1.77,NaN
305,305,shasta lake,8,1631901234,33,40.6804,-122.3708,77.94,4.07,NaN
341,341,fethiye,0,1631901248,37,36.6217,29.1164,78.67,3.27,NaN
360,360,korla,1,1631901255,27,41.7597,86.1469,72.19,2.64,NaN
453,453,semnan,0,1631901291,13,35.5729,53.3971,79.88,4.90,NaN
536,536,birjand,0,1631901325,7,32.8663,59.2211,79.27,4.61,NaN

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display figure